<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">



    <!-- json 转换action的返回值 -->
    <bean roleId="contentNegotiatingViewResolver"
          class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager" ref="contentNegotiationManager"></property>
        <property name="defaultViews">
            <list>
                <ref bean="mappingJacksonJsonView"/>
            </list>
        </property>
    </bean>
    <bean roleId="mappingJacksonJsonView"
          class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
        <property name="extractValueFromSingleKeyModel" value="true"/>
    </bean>

    <bean roleId="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
        <property name="defaultContentType" value="application/json" />
    </bean>
    <!-- end json parser -->

    <mvc:annotation-driven>
    </mvc:annotation-driven>
    <context:component-scan base-package="cn.superid.admin">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
    </context:component-scan>

    <mvc:default-servlet-handler/>

    <!-- interceptors config-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.superid.admin.security.AdminInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="cn.superid.admin.security.CommonInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <security:global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>

    <!-- Saves a locale change using a cookie -->
    <bean roleId="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>

</beans>